# Environment variables
.env
.env.local

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask & instance folders
instance/
.webassets-cache

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# SQLite Database
*.db
users.db

